**/original/**
**/original_backup/**
**/backup/**
**/backup_02/**
**/backup_02_green/**
**/backup_03/**
**/backup_03_blue/**
**/rename_01/**
**/rename_02/**
**/rename_03/**
**/export/**
**/removed/**
**/dupes/**
**/psd/**
**/ref/**
**/maybe/**
**/rocks/**
**/ENV_LandTEST_TEX/**
**/ENV_Land_M_Test/**
**/UI_MartialArts/**
**/Z_ZBackup/**
*GUMP_00_OTHER.txt
*Thumbs.db
*.exr
*.mantra_checkpoint
**/GumpOverridesOTHER/**
*00_UI_OTHER_GUMP.txt
**/completed/**
**/Z_Tools/GumpOverrides**
**/UI_DEBUG/**
**/UI_MagicSpells/Upscale/upscale/**
**/UI_MagicSpells/Upscale/small/**
# UPSCALE
# Allow files directly within any "Upscale" folder recursively
!**/Upscale/*
# Ignore all files in subfolders of any "Upscale" folder recursively
**/Upscale/*/
**/Upscale/*.psd
**/Upscale/*.py
**/temp/**
**/remove/**
**/UI_SpellsNecromancy_Green/**
**/UI_SpellsChivalry_Gold/**
Z_Tools/03_image_compare_composite.bat
Z_Tools/00_project_dashboard.bat
Z_Tools/03_md_to_html.bat
Z_Tools/09_massimport_xml_convert.bat
*00_psd_list.txt
Z_Tools/01_project_analysis.bat
Z_Tools/01_psd_to_bmp_batch.bat
Z_Tools/photoshop_layer_adder.log
